/* https://www.svgbackgrounds.com/ */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: neon;
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf');
}

html {
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0)
  0%, rgba(0, 0, 0, 0.936) 100%) , url('./protruding-squares.svg');
  color: white;
}
